// COLORS

$hotpink: #F29481;
$pink: #F6AF9E;
$lightpink: #FACFC6;
$yellow: #FCCE90;
$lightgreen: #C0D8D1;
$green: #92CAB9;
$darkgreen: #519795;
$black: #1E1E1C;


// FONTS 

$bodyFont: 'Mabry', sans-serif;